@import url("https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #ffffff;
  font-family: "Farro", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
}

.calculator {
  background-color: #f5ff8c;
  box-shadow: 5px 5px 15px rgba(226, 139, 81, 0.5);
  border-radius:3px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  height: 390px;
  width: 250px;
}

.display {
  color: #1c3989;
  font-size: 36px;
  position: relative;
  padding: 20px 10px;
  text-align: right;
  height: 70px;
  width: 100%;
}

/* .display small {
  color: #EE9406;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
} */

.nums-container {
  width: 75%;
}

.ops-container {
  width: 25%;
}

button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  margin: 5px;
  height: 50px;
  width: 50px;
}

button:hover {
  opacity: 0.9;
}

button:active {
  transform: scale(0.9);
}

button:focus {
  outline: none;
}

button.big-v {
  border-radius: 50px;
  height: 110px;
}

button.big-h {
  border-radius: 50px;
  width: 110px;
}

button.orange {
  background-color: #06b8ee;
  color: #fff;
}

button.dark-grey {
  background-color: #fc9145;
  color: #ffffff;
}

button.light-grey {
  background-color: #31e889;
}

button.ac {
  margin-right: 50%;
  color: rgb(255, 255, 255);
}
